{% extends "base.html" %}

{% block scripts %}
<script>
    function changeImage(imgName)
    {
    image = document.getElementById('grounds-selected-image');
    image.src = imgName;
    }
</script>
{% endblock %}
{% block body %}
<section id="grounds-meditation">
    <div id="back-to-grounds-map-button">
        <p>Map</p>
        <a href="/grounds"></a>
    </div>
    <div id="grounds-title">Meditation</div>
    <div id="grounds-thumbnails">
        <img onclick="changeImage('/media/images/raspberry-pi-logo.png')" class="grounds-thumb" src="http://via.placeholder.com/75x75" />
        <img onclick="changeImage('/media/images/raspberry-pi-logo.png')" class="grounds-thumb" src="http://via.placeholder.com/75x75" />
        <img onclick="changeImage('/media/images/raspberry-pi-logo.png')" class="grounds-thumb" src="http://via.placeholder.com/75x75" />
        <img onclick="changeImage('/media/images/raspberry-pi-logo.png')" class="grounds-thumb" src="http://via.placeholder.com/75x75" />
        <img onclick="changeImage('/media/images/raspberry-pi-logo.png')" class="grounds-thumb" src="http://via.placeholder.com/75x75" />
        <img onclick="changeImage('/media/images/raspberry-pi-logo.png')" class="grounds-thumb" src="http://via.placeholder.com/75x75" />
        <img onclick="changeImage('/media/images/raspberry-pi-logo.png')" class="grounds-thumb" src="http://via.placeholder.com/75x75" />

    </div>
    <div id="grounds-image-viewer">
        <img id="grounds-selected-image" src="" />
    </div>
</section>
{% endblock %}