{% extends "base.html" %}

{% block scripts %}
<script>
    function changeImage(imgName)
    {
    image = document.getElementById('grounds-shop-selected-image');
    image.src = imgName;
    }
</script>
{% endblock %}
{% block body %}
<section id="grounds-shop">
    <div id="grounds-title">Shop</div>
    <div id="grounds-thumbnails">
        <a id="back-to-grounds-map-button" href="/grounds"><p id="map-button-p1">back to</p><p id="map-button-p2">Map</p></a>

    </div>
    <div id="grounds-shop-image-viewer">
        <img id="grounds-shop-selected-image" src="" />
    </div>
</section>
{% endblock %}