{% extends "base.html" %}

{% block scripts %}
<script>
    function changeImage(imgName)
    {
    image = document.getElementById('grounds-selected-image');
    image.src = imgName;
    }
</script>
{% endblock %}
{% block links %}
<section id="grounds-admin">
    <a href="add_photo/">Add_Photo</a>
</section>
{% endblock %}
{% block body %}
<section id="grounds-deck">
    <div id="grounds-title">Back Deck</div>
    <div id="grounds-thumbnails">
        <a id="back-to-grounds-map-button" href="/grounds"><p id="map-button-p1">back to</p><p id="map-button-p2">Map</p></a>
    </div>
    <div id="grounds-image-viewer">
        <img id="grounds-selected-image" src="" />
    </div>
</section>
{% endblock %}