{% extends "base.html" %}

{% block body %}
<section id="grounds">
    <a href="firepit/"><button class="grounds-button"></button></a>
    <a href="greenhouse/"><button class="grounds-button"></button></a>
    <a href="pond/"><button class="grounds-button"></button></a>
    <a href="shop/"><button class="grounds-button"></button></a>
    <a href="deck/"><button class="grounds-button"></button></a>
    <a href="zen/"><button class="grounds-button"></button></a>
    <a href="meditation/"><button class="grounds-button"></button></a>
    <a href="hasta/"><button class="grounds-button"></button></a>
    <a href="front/"><button class="grounds-button"></button></a>
</section>
{% endblock %}
