/* #### Base #### */

nav {
    border-radius: 10px;
    font-size: 1.6vw;
    width: fit-content;
    position: absolute;
    left: 33%;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

/* #### Classes #### */


.access-menu{
	display: table;
	margin: 1em auto;
}
.access-menu > li{
	background: #444;
	display: inline-block;
	position: relative;
}
.access-menu > li + li{
	border-left: solid 1px #000;
}
.access-menu > li:hover .access-submenu{
	top: 100%;
	left: auto;
}
.access-menu a{
	color: #999;
	display: block;
	padding: .5em 2em;
	text-decoration: none;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.access-menu a:hover,
.access-menu a:focus{
	background: #369;
	outline: none;
}
.access-submenu{
	background: #444;
	left: -9999px;
	position: absolute;
	top: -9999px;
	width: 150%;
}
.access-submenu > li + li{
	border-top: solid 1px #000;
}
.access-submenu > li:last-child{
	border-bottom: solid 3px #000;
}
.access-submenu a{
	padding: .5em 1em;
}
.is-show{
	left: auto;
	top: 100%;
}
.project-item {
    color: white;
    background-color: #212020e6;
    display: inline;
    float: left;
    height: 30vw;
    margin: 1%;
    width: 28%;
    border-radius: 10px;
}
.project-image {
    height:17vw;
    width: 17vw;
}
.project-list {
    height: 100%;
    left: 13vw;
    position: fixed;
    width: 74vw;
    top:20%;
}


/* #### IDs #### */


#home-about {
    background-color: #444;
    color: #999;
    height: 68%;
    left: 14.5%;
    padding: 2%;
    position: absolute;
    top: 17%;
    width: 25%;
}
#home-pics {
    background-color: #444;
    left: 48%;
    padding: 1%;
    position: absolute;
    top: 16%;
}
#home-projects {
    background-color: #444;
    color: #999;
    display: inline-flex;
    left: 46%;
    position: absolute;
    top: 72%;
    width: 50%;
}
#home-current-project {
    margin: auto;
    padding-top: 20px;
    /* display: inline; */
}
#home-current-project img {
    /* display: block; */
}
#home-current-project p {
    /* display: inline; */
}
#home-project-2 {
    margin: auto;
    padding-top: 20px;
    /* display: inline; */
}
#home-project-2 img {
    /* display: block; */
}
#home-project-2  p{
    /* display: inline; */
}
#title {
    background-color: #444;
    border-radius: 10px;
    color:#999;
    left: -16%;
    position: absolute;
    top: 44%;
    width: 48%;
    -webkit-transform: rotate(-90deg);
}
#title p{
    font-size: 7.5vw;
    margin: auto;
    text-align: center;
}
#welcome-statement {
    background-color: #444;
    border-radius: 10px;
    bottom: 0;
    color: #999;
    left: 21%;
    position: fixed;
}
#welcome-statement p {
    margin: 1em;
    width: 100%;
} 