/* #### Base #### */

nav {
    border-radius: 10px;
    font-size: 1.6vw;
    left: 21%;
    position: fixed;
    width: fit-content;
    z-index: 2;
}
nav ul{
    list-style: none;
	margin: 0;
	padding: 0;
}

/* #### Classes #### */


.about-bio-info {
    margin: 5.5%;
    font-size: .6em;
}
.about-bio-name {
    background-color: #333;
    border-radius: 4px;
    font-size: 35px;
    margin: auto;
}
.access-menu{
	display: table;
	margin: 1em auto;
}
.access-menu > li{
	background: #343434;
	display: inline-block;
	position: relative;
}
.access-menu > li + li{
	border-left: solid 1px #000;
}
.access-menu > li:hover .access-submenu{
	top: 100%;
	left: auto;
}
.access-menu a{
	color: #999;
	display: block;
	padding: .5em 2em;
	text-decoration: none;
    
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.access-menu a:hover,
.access-menu a:focus{
    background: #369;
	outline: none;
}
.access-submenu{
    background: #444;
	left: -9999px;
	position: absolute;
	top: -9999px;
	width: 150%;
}
.access-submenu > li + li{
    border-top: solid 1px #000;
}
.access-submenu > li:last-child{
    border-bottom: solid 3px #000;
}
.access-submenu a{
    padding: .5em 1em;
}
.grounds-button {
    background-color: #3330;
    display: inline;
    height: 33.19%;
    width: 33.06%;
}
.grounds-thumb {
    
}
.is-show{
    left: auto;
	top: 100%;
}
.item-image {
    height:17vw;
    width: 17vw;
}
.project-item {
    background-color: #444;
    border-radius: 10px;
    color: #999;
    display: inline-block;
    list-style: none;
    margin: auto;
    padding: 1%;
    text-align: center;
    width: 28%;
}
.project-image {
    height:17vw;
    width: 17vw;
}
.project-list {
    height: 100%;
    left: 13vw;
    position: absolute;
    width: 74vw;
    top:20%;
}
.shop-item {
    background-color: #444;
    border-radius: 10px;
    color: #999;
    display: inline-block;
    list-style: none;
    margin: auto;
    padding: 1%;
    text-align: center;
    width: 28%;
}



/* #### IDs #### */


#about-bio {
    background-color: #444;
    border-radius: 10px;
    font-size: 27px;
    left: 82%;
    width: 17%;
    position: fixed;
    text-align: center;
    top: 5.5%
}
#about-bio li {
    display:inline;
}
#about-bio img {
    height: 7em;
    margin-bottom: -7%;
    width: 7em;
}
#about-bio ul {
    padding: 0%;
}
#about-contact {
    background-color: #444;
    border-radius: 10px;
    left: 15%;
    position: fixed;
    text-align: center;
    top: 69%;
    font-size: 19px;
    padding: .5%;
}
#about-section {
    border-radius: 10px;
    color: #999;
    font-size: 1.7em;
    left: 16%;
    position: fixed;
    width: 78%;
    top: 11%;
}
#about-statement {
    background-color: #444;
    border-radius: 7px;
    position: relative;
    text-align: center;
    width: 81%;
}
#aboutpage ul li {
    text-decoration: none;
    list-style: none;
}
#back-to-grounds-map-button {
    background-color: #444;
    border-radius: 7px;
    height: 8%;
    left: 15%;
    position: fixed;
    top: 9%;
    width: 10%;
}
#back-to-grounds-map-button a {
    position: fixed;
    height: 9%;
    padding: 3%;
    width: 16%;
    top: 2.85%;
    z-index: 3;
}
#back-to-grounds-map-button p {
    color: #999;
    font-size: 4em;
    left: 15.2%;
    position: absolute;
    top: -71.5%;
    z-index: 2;
}
#contact-form {
    background-color: #444;
    border-radius: 10px;
    left: 35%;
    position: fixed;
    text-align: center;
    top: 30%;
}
#grounds {
    background-image: url("/media/images/grounds.jpg");
    background-size: cover;
    height: 69%;
    left: 19%;
    position: absolute;
    top: 16%;
    width: 70%;
}
#grounds-deck {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-firepit {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-front {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-greenhouse {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-hasta {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-meditation {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-pond {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-shop {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-title {
    color: #999;
    background-color: #444;
    font-size: 3vw;
    left: 35%;
    margin: 1%;
    position: absolute;
    top: -70%;
    width: fit-content;
}
#grounds-zen {
    background-color: #444;
    height: fit-content;
    left: 19%;
    position: absolute;
    top: 19%;
    width: 72%;
}
#grounds-thumbnails {
    background-color: #222;
    height: fit-content;
    margin: 1%;
    padding:.5%;
    width: fit-content;
}
#grounds-image-viewer {
    background-color: #222;
    left: 21%;
    height: fit-content;;
    position: fixed;
    text-align: center;
    top: 32%;
    width: 68%;
}
#grounds-selected-image {
}
#home-about {
    background-color: #444;
    color: #999;
    height: 73%;
    left: 14.5%;
    padding: 2%;
    position: absolute;
    top: 13%;
    width: 25%;
}
#home-about img {
    height: 80%;
    width: 100%;
}
#home-about p {
    font-size: 1.06vw;
}
#home-pics {
    background-color: #444;
    height: 50%;
    left: 49%;
    padding: 1%;
    position: absolute;
    top: 17%;
    width: 42%;
}
#home-pics img {
    height: 100%;
    width: 100%;
}
#home-projects {
    background-color: #444;
    color: #999;
    display: inline-flex;
    left: 46%;
    position: absolute;
    top: 72%;
    width: 50%;
}
#home-current-project {
    margin: auto;
    padding-top: 3px;
    /* display: inline; */
    width: 45%;
}
#home-current-project img {
    width: 100%;
}
/* #home-current-project p {
    display: inline;
} */
#home-project-2 {
    margin: auto;
    padding-top: 20px;
    /* display: inline; */
    width: 45%;
}
#home-project-2 img {
    width: 100%
}
/* #home-project-2  p{
    display: inline;
} */
#login {
    background-color: #444;
    color: #999;
    left: 31%;
    position: absolute;
    top: 35%;

}
#item-back-arrow {
    color: #999;
    left: 76%;
    position: fixed;
    text-decoration: none;
    top: 65%;
}
#item-back-arrow img {
    width:16%;
}
#item-back-arrow p {
    display: inline;
}
#item-create-form {
    position: absolute;
    text-align: center;
    color: #999;
    background-color: #444;
    border-radius: 10px;
    top: 15%;
    left: 23%;
    padding: 9%;
}
#item-detail {
    background-color: #444;
    border-radius: 10px;
    color:#999;
    position: absolute;
    left: 14%;
    top: 65%;
    width: 71%;
}
#item-detail-highlighted-image {
    background-color: #444;
    border-radius: 10px;
    left: 21%;
    position: absolute;
    top: 13%;
    padding: .6%;
    width: 55%;
    text-align: center;
}
#item-detail-highlighted-image img {
    width: 89%;
}
#item-detail div {
    padding:1%;
}
#item-detail h1 {
    font-size: 40px;
    padding-left: 32%;
}
#item-detail ul {
    list-style-type: none;
    text-align: center;
    width: 65%;
}
#project-back-arrow {
    color: #999;
    left: 76%;
    position: fixed;
    text-decoration: none;
    top: 65%;
}
#project-back-arrow img {
    width:16%;
}
#project-back-arrow p {
    display: inline;
}
#project-create-form {
    position: absolute;
    text-align: center;
    color: #999;
    background-color: #444;
    border-radius: 10px;
    top: 15%;
    left: 23%;
    padding: 9%;
}
#project-date {
    float: right;
}
#project-detail {
    background-color: #444;
    border-radius: 10px;
    color:#999;
    position: absolute;
    left: 14%;
    top: 65%;
    width: 71%;
}
#project-detail-highlighted-image {
    background-color: #444;
    border-radius: 10px;
    left: 21%;
    position: absolute;
    top: 13%;
    padding: .6%;
    width: 55%;
    text-align: center;
}
#project-detail-highlighted-image img {
    height:32em;
    width: 89%;
}
#project-detail div {
    padding:1%;
}
#project-detail h1 {
    font-size: 40px;
    padding-left: 32%;
}
#project-detail ul {
    list-style-type: none;
    text-align: center;
    width: 65%;
}
#shop-list {
    height: 100%;
    left: 13vw;
    position: absolute;
    width: 74vw;
    top:20%;
}
#shopping-cart {
    background-color: #444;
    border-radius: 10px;
    color: #999;
    left: 20%;
    position: absolute;
    top: 23%;
    width: 62%;
}
#shopping-cart img {
    padding: 3%;
    width: 95%;
}
#shopping-cart-icon {
    left: 139%;
    position: absolute;
    top: -6%;
    width: 4%;
}
#title {
    background-color: #444;
    border-radius: 10px;
    color:#999;
    left: -16%;
    position: fixed;
    top: 44%;
    width: 48%;
    -webkit-transform: rotate(-90deg);
}
#title p{
    font-size: 7.5vw;
    margin: auto;
    text-align: center;
}
#welcome-statement {
    background-color: #444;
    border-radius: 10px;
    bottom: 0;
    color: #999;
    left: 21%;
    position: fixed;
}
#welcome-statement p {
    margin: 1em;
    width: 100%;
} 