/* #### Base #### */

nav {
    border-radius: 10px;
    font-size: 1.6vw;
    left: 33%;
    position: fixed;
    width: fit-content;
    z-index: 2;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

/* #### Classes #### */


.access-menu{
	display: table;
	margin: 1em auto;
}
.access-menu > li{
	background: #343434;
	display: inline-block;
	position: relative;
}
.access-menu > li + li{
	border-left: solid 1px #000;
}
.access-menu > li:hover .access-submenu{
	top: 100%;
	left: auto;
}
.access-menu a{
	color: #999;
	display: block;
	padding: .5em 2em;
	text-decoration: none;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.access-menu a:hover,
.access-menu a:focus{
	background: #369;
	outline: none;
}
.access-submenu{
	background: #444;
	left: -9999px;
	position: absolute;
	top: -9999px;
	width: 150%;
}
.access-submenu > li + li{
	border-top: solid 1px #000;
}
.access-submenu > li:last-child{
	border-bottom: solid 3px #000;
}
.access-submenu a{
	padding: .5em 1em;
}
.is-show{
	left: auto;
	top: 100%;
}
.project-item {
    background-color: #444;
    border-radius: 10px;
    color: #999;
    display: inline-block;
    list-style: none;
    margin: auto;
    padding: 1%;
    text-align: center;
    width: 28%;
}
.project-image {
    height:17vw;
    width: 17vw;
}
.project-list {
    height: 100%;
    left: 13vw;
    position: absolute;
    width: 74vw;
    top:20%;
}


/* #### IDs #### */


#about-statement {
    background-color: #444;
    border-radius: 7px;
    position: relative;
    text-align: center;
    width: 81%;
}
#about-section {
    border-radius: 10px;
    color: #999;
    font-size: 30px;
    left: 16%;
    position: fixed;
    width: 78%;
    top: 11%;
}
#about-bio {
    background-color: #444;
    border-radius: 10px;
    font-size: 27px;
    left: 82%;
    width: 17%;
    position: fixed;
    text-align: center;
    top: 5.5%
}
#about-bio li {
    display:inline;
}
#about-bio img {
    margin-bottom: -7%;
}
.about-bio-info {
    margin: 5.5%;
    font-size: 24px;
}
#about-bio ul {
    padding: 0%;
}
.about-bio-name {
    background-color: #333;
    border-radius: 4px;
    font-size: 35px;
    margin: auto;
}
#about-contact {
    background-color: #444;
    border-radius: 10px;
    left: 15%;
    position: fixed;
    text-align: center;
    top: 69%;
    font-size: 19px;
    padding: .5%;
}
#aboutpage ul li {
    text-decoration: none;
    list-style: none;
}
#contact-form {
    background-color: #444;
    border-radius: 10px;
    left: 35%;
    position: fixed;
    text-align: center;
    top: 30%;
}
#grounds img {
    width: 70%;
    height: 69%;
    position: absolute;
    top: 16%;
    left: 19%;
}
#home-about {
    background-color: #444;
    color: #999;
    height: 68%;
    left: 14.5%;
    padding: 2%;
    position: absolute;
    top: 17%;
    width: 25%;
}
#home-about img {
    width: 100%;
}
#home-pics {
    background-color: #444;
    left: 48%;
    padding: 1%;
    position: absolute;
    top: 16%;
    width: 44%;
}
#home-pics img {
    width: 100%;
}
#home-projects {
    background-color: #444;
    color: #999;
    display: inline-flex;
    left: 46%;
    position: absolute;
    top: 72%;
    width: 50%;
}
#home-current-project {
    margin: auto;
    padding-top: 3px;
    /* display: inline; */
    width: 45%;
}
#home-current-project img {
    width: 100%;
}
/* #home-current-project p {
    display: inline;
} */
#home-project-2 {
    margin: auto;
    padding-top: 20px;
    /* display: inline; */
    width: 45%;
}
#home-project-2 img {
    width: 100%
}
/* #home-project-2  p{
    display: inline;
} */
#login {
    background-color: #444;
    color: #999;
    left: 31%;
    position: absolute;
    top: 35%;

}
#project-back-arrow {
    color: #999;
    left: 76%;
    position: fixed;
    text-decoration: none;
    top: 65%;
}
#project-back-arrow img {
    width:16%;
}
#project-back-arrow p {
    display: inline;
}
#project-create-form {
    position: absolute;
    text-align: center;
    color: #999;
    background-color: #444;
    border-radius: 10px;
    top: 15%;
    left: 23%;
    padding: 9%;
}
#project-date {
    float: right;
}
#project-detail {
    background-color: #444;
    border-radius: 10px;
    color:#999;
    position: absolute;
    left: 14%;
    top: 65%;
    width: 71%;
}
#project-detail-highlighted-image {
    background-color: #444;
    border-radius: 10px;
    left: 21%;
    position: absolute;
    top: 11%;
    padding: .6%;
    width: 55%;
    text-align: center;
}
#project-detail-highlighted-image img {
    height: 32vw;
    width: 89%;
}
#project-detail div {
    padding:1%;
}
#project-detail h1 {
    font-size: 40px;
    padding-left: 32%;
}
#project-detail ul {
    list-style-type: none;
    text-align: center;
    width: 65%;
}
#title {
    background-color: #444;
    border-radius: 10px;
    color:#999;
    left: -16%;
    position: fixed;
    top: 44%;
    width: 48%;
    -webkit-transform: rotate(-90deg);
}
#title p{
    font-size: 7.5vw;
    margin: auto;
    text-align: center;
}
#welcome-statement {
    background-color: #444;
    border-radius: 10px;
    bottom: 0;
    color: #999;
    left: 21%;
    position: fixed;
}
#welcome-statement p {
    margin: 1em;
    width: 100%;
} 