{% extends "base.html" %}
{% block body %}
<section id="about-section">
    <div id="about-statement">
        <p>About</p>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <br> <br>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div id="about-bio">
        <ul>
            <li id="bio-1">
                <p class="about-bio-name">Ron</p>
                <img src="https://via.placeholder.com/200x200" />
                <p class=about-bio-info>This is a little information about Ron</p>
            </li>
            <li id="bio-2">
                <p class="about-bio-name">Mike</p>
                <img src="https://via.placeholder.com/200x200" />
                <p class=about-bio-info>This is a little information about Mike</p>
            </li>
            <li id="bio-3">
                <p class="about-bio-name">James</p>
                <img src="https://via.placeholder.com/200x200" />
                <p class=about-bio-info>This is a little information about James</p>
            </li>
        </ul>
    </div>
    <p>Contact Us</p>
    <div id="about-contact">
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}