{% extends "base.html" %}
{% block body %}
<section id='home-projects'>
  <div id='home-current-project'>
    <img src='http://via.placeholder.com/350x150' />
    <p>This is some text about the current project.</p>
  </div>
  <div id='home-project-2'>
    <img src='http://via.placeholder.com/350x150' />
    <p>This is some other text about the second to latest project.</p>
  </div>
</section>
<section id="welcome-statement">
  <p>
    Where inspiration use humans as their tools.
  </p>
</section>
{% endblock %}
{% block endbody %}
{% endblock %}