{% extends "base.html" %}
{% block body %}
<section id ="home-about">
  <img src="http://via.placeholder.com/400x400" />
  <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla<br> pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</section>
<section id="home-pics">
  <img src="http://via.placeholder.com/700x500" />
</section>
<section id='home-projects'>
  <div id='home-current-project'>
    <img src='http://via.placeholder.com/350x150' />
    <p>This is some text about the current project.</p>
  </div>
  <div id='home-project-2'>
    <img src='http://via.placeholder.com/350x150' />
    <p>This is some other text about the second to latest project.</p>
  </div>
</section>
<section id="welcome-statement">
  <p>
    Where inspiration use humans as their tools.
  </p>
</section>
{% endblock %}
{% block endbody %}
{% endblock %}