{% extends "base.html" %}
{% block body %}
<section id ="home-about">
  <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/28279558_1569573869828181_6395826718533507571_n.jpg?oh=9d738e2a9c9f634584e9c41bdacd2e42&oe=5B1B40BF" />
  <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br> exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla<br> pariatur.
  </p>
</section>
<section id="home-pics">
  <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/28168050_1569572999828268_6414743192914353391_n.jpg?oh=e6852d7cce2b70d5233742c677e05350&oe=5AFF9A04" />
</section>
<section id='home-projects'>
  <div id='home-current-project'>
    <img src='http://via.placeholder.com/350x150' />
    <p>This is some text about the current project.</p>
  </div>
  <div id='home-project-2'>
    <img src='http://via.placeholder.com/350x150' />
    <p>This is some other text about the second to latest project.</p>
  </div>
</section>
<section id="welcome-statement">
  <p>
    Repurpose with a purpose.
  </p>
</section>
{% endblock %}
{% block endbody %}
{% endblock %}