{% extends 'base.html' %}
{% load thumbnail %}
{% block scripts %}
<script type="text/javascript">
    function showImage(imgName) {
        var curLink = document.getElementById('current-link');
        var curImage = document.getElementById('project-selected-image');
        var theSource = imgName;
        curLink.href = imgName;
        curImage.src = theSource;
        curImage.alt = imgName;
        curImage.title = imgName;
    }
</script>
{% endblock %}
{% block body %}
<section id="project-detail">
    <div>
        {% for photo in project.photos.all %}
            <item id="project-photo" >
                {% thumbnail photo.image "75x75" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ im.url }}" title="{{ photo.id }}" onclick="showImage('{{ photo.image.url }}');">
                {% endthumbnail %}
            </item>
        {% endfor %}
    </div>
    <h1>{{ project.title }}</h1>
    <ul>
        {% if project.description %}
        <li> {{ project.description }}</li>
        {% endif %}
    </ul>
    <a id="project-back-arrow" href="/projects/"><p>Back to Projects</p><img src="https://i.stack.imgur.com/B2j6l.png" /></a>
    <p id="project-date">Date uploaded: {{ project.date_uploaded }}</p>
</section>
<section id="project-detail-highlighted-image">
    <a id="current-link" href="{{ project.cover.image.url }}"><img id="project-selected-image" src="{{ project.cover.image.url }}" /></a>
</section>
{% endblock %}