{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript">
    
        // The Browser API key obtained from the Google API Console.
        var developerKey = 'AIzaSyBqsXnJ9krBKJgbHCnxc0iT4I60wEXNzOY';
    
        // The Client ID obtained from the Google API Console. Replace with your own Client ID.
        var clientId = '837799204427-4hqivf4un6pi18jkg30meg814qbmhf8a.apps.googleusercontent.com';
    
        var appId = "modern-setting-195814";
        // Scope to use to access user's photos.
        var scope = 'https://www.googleapis.com/auth/photos';
    
        var pickerApiLoaded = false;
        var oauthToken;
    
        // Use the API Loader script to load google.picker and gapi.auth.
        function onApiLoad() {
          gapi.load('auth2', onAuthApiLoad);
          gapi.load('picker', onPickerApiLoad);
        }
    
        function onAuthApiLoad() {
          var authBtn = document.getElementById('auth');
          authBtn.disabled = false;
          authBtn.addEventListener('click', function() {
            gapi.auth2.authorize({
              client_id: clientId,
              scope: scope
            }, handleAuthResult);
          });
        }
    
        function onPickerApiLoad() {
          pickerApiLoaded = true;
          createPicker();
        }
    
        function handleAuthResult(authResult) {
          if (authResult && !authResult.error) {
            oauthToken = authResult.access_token;
            createPicker();
          }
        }
    
        // Create and render a Picker object for picking user Photos.
        function createPicker() {
          if (pickerApiLoaded && oauthToken) {
            var picker = new google.picker.PickerBuilder().
                addView(google.picker.ViewId.PHOTOS).
                setOAuthToken(oauthToken).
                setDeveloperKey(developerKey).
                setCallback(pickerCallback).
                build();
            picker.setVisible(true);
          }
        }
    
        // A simple callback implementation.
        function pickerCallback(data) {
          var url = 'nothing';
          if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
            var doc = data[google.picker.Response.DOCUMENTS][0];
            url = doc[google.picker.Document.URL];
          }
          var message = 'You picked: ' + url;
          document.getElementById('result').innerHTML = message;
        }
      </script>
{% endblock %}
{% block body %}
<section id="project-create-form">
        <h1>Create New Project</h1>
        <hr />
        <form  method="post">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <div>
                <button type="submit">Create</button>
            </div>
        </form>
    </section>
  <button type="button" id="auth" disabled>Authenticate</button>

  <div id="result"></div>

  <!-- The Google API Loader script. -->
  
  {% endblock %}
  {% block foot %}
  
  <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
{% endblock %}
